* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --red:darkred;
    --blackgray:darkgray;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "roboto", sans-serif;
    height: 100vh;
}
.container {
    background-color: #03413E;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(10, 1fr);
    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3";
    height: 100vh;
    gap: 5px;
  }

.item1 {
    display: grid;
    grid-area: card-1;
    grid-column: 2 / -2 ;
    margin-top: 10%;
    max-width: 600px;
    background-color: var(--red);
    border:double 5px black;
    
}

.item1__tittle {
    color: black;
    justify-self: center;
    align-self: center;
}

.item1__title2 {
    justify-self: center;
    color: var(--blackgray);
}

.item2 {
    grid-area: card-2; 
    background-image: url(/assets/img/birdHurt.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat ;
    max-height: 600px;
    max-width: 600px;
    grid-column: 2 / -2;
    grid-row: 3 / 5 ;
    border: solid 5px black;
}

.item3 {
    display: grid;
    background-color: var(--red);
    background-image: url(/assets/img/Logo_anagrama.png);
    background-size:10%;
    background-repeat: no-repeat;
    background-position:top;
    grid-area: card-3;
    grid-column: 2 / -2;
    grid-row: 5  / 7; 
    max-width: 600px;
    margin-top: 15%;
    margin-bottom: 10%;
    border: double 5px black;
}



.item3__subtitle1 {
    color: var(--blackgray);
    font-size: 2.0rem;
    justify-self:center;
    align-self:flex-end;
}

.item3__subtitle2 {
    justify-self:center;
    align-items: center;
    
}

.item4 {

    background-image: url(/assets/img/grulla.jpg);
   background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    grid-column: 3 /  6;
    grid-row: 2 / 3;
    background-color: white;
    border: solid 2px black;
}

.item5 {
    display: grid;
    color:white;
    font-size: 3.0rem;
    grid-row-start: 2 ;
    grid-column-start: 3 ;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    justify-items: center;
    align-items: center;
    letter-spacing: 10px;
}

.item5__text {
    margin: 0;

}

.item6 {
    display: grid;
    grid-row: 1 / -1 ;
    grid-column: 8 / 9 ;
    width: 3px;
    height: 100%;
    border-right: double 2px var(--red );
}